{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% form_theme category_form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h1>
        Ajouter une catégorie:
    </h1>

    {# afficher les messages flashs #}

        {% for message in app.flashes('confirmation') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

    {{ form(category_form) }}

{% endblock %}
