{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% form_theme contact_form 'bootstrap_5_layout.html.twig' %}

{% block body %}

        <h1 class="text-center"> Contactez-nous ! </h1>
    

        {# <h3>Il y a des erreurs dans le formulaire de contact</h3>

        <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul> #}

        {# afficher les messages flashs #}

        {% for message in app.flashes('confirmation') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        
        {{ form(contact_form, {attr: {'novalidate': 'novalidate', 'class': 'row col-md-8 mx-auto mt-3'}}) }}

    

{% endblock %}
